作業目標:<br>
1. 敘述統計量計算<br>
2. 運用自定義函數apply

作業重點:<br>
1. 了解敘述統計量並解釋<br>
2. 運用apply時須注意自定義函數寫法

題目<br>
對以下成績資料做分析<br>
1. 6號學生(student_id=6)3科平均分數為何?<br>
2. 6號學生3科平均分數是否有贏過班上一半的同學?<br>
3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?<br>
4. 承上題，加分後各科班平均變多少?
<br>
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [16]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [4]:
#1.6號學生(student_id=6)3科平均分數為何?

In [23]:
round(score_df.loc[6].mean(),1)

56.3

In [ ]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學

In [27]:
print(round(score_df.mean(axis=1),1))

round(score_df.mean(axis=1).median(),1)

student_id
1     64.0
2     56.3
3     44.0
4     78.7
5     68.7
6     56.3
7     64.7
8     62.3
9     57.3
10    57.0
dtype: float64

59.8

In [ ]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [45]:
import math
plus_score = score_df.applymap(lambda x:math.sqrt(x)*10)
print(plus_score)
round(plus_score.loc[6].mean(),1)

            math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

75.0

In [ ]:
#承上題，加分後各科班平均變多少

In [43]:
print(round(score_df.mean(),1))
print('加分後')
print(round(plus_score.mean(),1))

math_score       56.9
english_score    62.8
chinese_score    63.1
dtype: float64
加分後
math_score       74.2
english_score    78.4
chinese_score    78.7
dtype: float64